


/* home page */

header{
    padding: 10px;
    font-size: 2em;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between
  }

 .btn {
    background-color: #667b83; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px
}

.btn:hover {
    background-color: #a99c8b;
    color: white;
  }


.imgheader{
    height: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-items: center;
    position: inherit;
  justify-content: center;
  text-align: center;
    background: linear-gradient(#ffffff,#e6e6e6 );

  }
.info1 { 
    display: flex;
    width: 100%;
  padding-top: 20px
  
  }
  
  .info12 { 
  text-align: center;
    flex: 1;
    background: linear-gradient(#ffffff,#fbfbfb );
        padding: 16px;
    height: 350px;
    border: #bbbbbb solid 1px;
    margin: 5px;
    border-radius: 10px
  }
.newdiv{
  height: 300px;
  overflow-y:scroll;


}

.headline {
  color: #a3b8a2
}



.in{
    margin-left: 500px
}
  .group 			  { 
    position:relative; 
    margin-bottom:45px; 
    justify-content: center;
      align-items: center;
    align-content: center;
    align-self: center;
  }
  .input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    align-items: center;
    justify-content: center;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  .input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  .label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    align-items: center;
    justify-content: center;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  .input:focus ~ .label, .input:valid ~ .label 		{
    top:-20px;
    font-size:14px;
    color:#667b83;
    align-items: center;
    justify-content: center;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#669999; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  .input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    align-items: center;
    justify-content: center;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  .input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#669999; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#669999; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#669999; }
    to 	{ width:0; background:transparent; }
  }
  




  /* profile  */


  .proheader {
    height: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-items: center;
    position: inherit;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#ffffff,#e6e6e6 );
  
  }
  
  .infolaw{
    display: flex;
    flex-direction: row;
  padding-left: 10%;
  
  }
  
  .infolaw i{
    font-size: 100px;
  padding: 0px 50px;
  color: #667b83
  }
  .infolaw h1{
    padding: 20px 10px;
    border-bottom: #848485 solid 1px
  }
  
/* cases  */


.cases {
  width: 250px;
  height: 270px;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  justify-content: space-between;
  background-color: rgba(168, 155, 137, 0.692);
  cursor: pointer;
  border-radius:4px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
  box-shadow:0 1px 1px rgba(0,0,0,.05)
}

.cases > p {
  margin: 5;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  /* padding: 5px; */
  color: rgb(85, 85, 85);
}
.shows {
  display: flex;
  width: 100%;
  max-width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 12px;
}

.container{
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.show{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.show>div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.show h2{
  font-weight: 400;
  font-size: 3em;
}

.show h4{
  font-size: 2em;
  font-weight: 400;
}

.show img{
  height: 450px;
  width: 400px;
  object-fit: cover;
  margin-right: 60px;
}

.show-details{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: space-between;
  height: 450px;
}

.show-details p{
  margin-top: 0;
  height: 400px;
  overflow: scroll;
}

.show-details div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.show button{
  width: 48%;
  padding: 8px;
  font-size: .8em;
}

.action-buttons{
  position: fixed;
  top: 0;
  right: 20px;
  display: flex;
  width: 50px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
}

.action-buttons div{
  margin-bottom: 40px;
  background-color: #a3b8a2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding: 0 4px 4px;
  border-radius: 50%;
  box-shadow: 2px 2px 7px rgba(0,0,0,.3);
  color: white;
  cursor: pointer;
}

.action-buttons img{
  width: 60%;
  height: 60%;
  margin-top: 2px;
}


.modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidd {
  display: none
}

.show-form{
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
}

label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-form input{
  width: 350px;
  margin: 5px 0 10px 10px;
  font-size: 1em;
}

.show-form button{
  font-size: 1em;
  padding: 7px;
  margin-top: 20px;
  background-color:  #667b83;
  color: white;
}

.close-modal{
  position: absolute;
  top: 9px;
  right: 14px;
  cursor: pointer;
  font-size: 1.5em;
}

.show-details{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: space-between;
  height: 450px;
}

.show-details p{
  margin-top: 0;
  height: 400px;
  overflow: scroll;
}

.show-details div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


/* .profilehead{
  border: #667b83 solid 1px;
  margin: 20px;
  padding:19px;
  border-radius:6px
} */

.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}
.well blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15)}


  /* footer */
  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #a99c8b;
    color: white;
    text-align: center;
    height: 30px;
    justify-content: center;
  }

  